<header>
	<ul class="carousel-container" style="display: none;">
        <li for(imageItem in data.headerCarousel)>
        	<div class="carousel-img" 
        		data-url="${imageItem}"
        		style="background: url(${imageItem}) no-repeat center center; background-size: cover;">
        	</div>
        </li>
    </ul>
	<div class="topper">
		<div class="qs-logo"></div>
		<div class="qs-logo-text">Linked Hearts Quilting</div>
		<a class="facebook-link" 
			href="https://www.facebook.com/Linked-Hearts-Quilting-1314823331934412"
			target="_blank">
			<span class="symbol facebook">roundedfacebook</span>
		</a>
	</div>
</header>
