<nav class="qs-main-nav">
	<ul>
		<li for(navItem in data.collections.navItems)
			class={'qs-main-nav__item': true, 'qs-main-nav__link--selected': navItem.path === data.path } >
			<a class={'qs-main-nav__link': true} 
				href="/${navItem.path.replace('.md', '.html')}">
				${navItem.title}
			</a>
		</li>
		<li class="qs-main-nav__item facebook" >
			<a class="qs-main-nav__link" 
				target="_blank" 
				href="https://www.facebook.com/Linked-Hearts-Quilting-1314823331934412">
				Facebook Page
			</a>
		</li>
	</ul>
</nav>
