<!DOCTYPE html>
<html lang="en-us">
	<include("../partials/head.html", data) />
	<body>
	<invoke console.log(data)/>
		<div class="qs-page">
			<include("../partials/header.html", data) />
			<include("../partials/nav.html", data) />
			<div class="qs-page-content">
				$!{data.contents}
				<div class="gallery">
				    <ul>
				        <li for(imageItem in data.gallery)>
				        	<div class="pic" 
				        		onclick="onThumbnailClick(event);" 
				        		data-url="${imageItem}"
				        		style="background: url(${imageItem}) no-repeat center center; background-size: cover;">
				        	</div>
				        </li>
				    </ul>
				</div>
			</div>
			<include("../partials/footer.html", data) />
		</div>
	</body>
</html>