<!DOCTYPE html>
<html lang="en-us">
	<include("../partials/head.html", data) />
	<body>
		<div class="qs-page">
			<include("../partials/header.html") />
			<include("../partials/nav.html", data) />
			<div class="qs-page-content">
				<div class="custom-border-vertical left"></div>
				<div class="custom-border-vertical right"></div>
				<div class="custom-border-horizontal top"></div>
				<div class="custom-border-horizontal bottom"></div>
				$!{data.contents}
			    <ul class="carousel-container">
			        <li for(imageItem in data.carousel)>
			        	<div class="carousel-img" 
			        		data-url="${imageItem}"
			        		style="background: url(${imageItem}) no-repeat center center; background-size: cover;">
			        	</div>
			        </li>
			    </ul>
			</div>
			<include("../partials/footer.html", data) />
		</div>
	</body>
</html>