<!DOCTYPE html>
<html lang="en-us">
	<include("../partials/head.html", data) />
	<body class="news">
		<div class="qs-page">
			<include("../partials/header.html", data) />
			<include("../partials/nav.html", data) />
			<div class="qs-page-content">
				<div class="intro">
					$!{data.contents}
				</div>
				<div class="fb-insert">
					<div class="fb-page" data-href="https://www.facebook.com/Linked-Hearts-Quilting-1314823331934412/" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Linked-Hearts-Quilting-1314823331934412/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Linked-Hearts-Quilting-1314823331934412/">Linked Hearts Quilting</a></blockquote></div>
				</div>
			</div>
			<include("../partials/footer.html", data) />
		</div>
		<!-- facebook code -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=846803905460182";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<!-- end facebook code -->
	</body>
</html>